# Applications aliases.
alias v=nvim
alias t=tmux

# vim aliases.
alias vf='v $(fzf)'

# Tmux aliases.
alias tk='t kill-server'
alias tl='t ls'
alias ta='t attach-session -t'

# Git aliases.
alias gp='git push'
alias gpo='gp origin'
alias gs='git status'
alias gl='git log --decorate --pretty=format:"%C(cyan)%h %C(white)- %C(red)%an%C(white), %C(blue)%ar %C(white) %C(white)%s"'
alias gcb='git checkout -b'
alias gcm='git checkout main'
alias gac='git add . && git commit -m'
alias grh='git reset --hard'
alias grs='git reset --soft HEAD~1'
alias gpf='gp fork'
alias gpo!='gp --set-upstream origin $(git symbolic-ref --short HEAD)'
alias gpf!='gp --set-upstream fork $(git symbklic-ref --short HEAD)'
alias gdn='git diff --name-only'
alias gdc='git_diff_count'
alias gfom='git fetch origin main:main'

# Utils aliases.
alias ls='eza'
alias lsl='eza -1 --long'
alias tree='exa --tree --level=2'
alias treen='treeN() { exa --tree --level=$1}; treeN'

# cd aliases.
alias cdr='cd "$REPOS"'
alias cdv='cd "$DOTFILES"/.config/nvim'
alias cdd='cd "$DOTFILES"'
alias cdn='cd "$NOTES/main"'
alias cdw='cd "$WORK"'
alias cdb='cd "$BLOCKCHAIN"'
alias cdc='cd "$CHAINS"'
alias cdcw='cd "$COSMWASM"'
# ref: https://thevaluable.dev/zsh-install-configure-mouseless/
alias d='dirs -v | head -n 10'
for index ({0..9}) alias "$index"="cd +${index}"; unset index

# sourcing
alias sz='source "$ZDOTDIR"/.zshrc'


git_diff_count() {
    output=$(git diff --name-status main)
    m_count=$(echo "$output" | grep -E '^[[:space:]]*M' -c)
    a_count=$(echo "$output" | grep -E '^[[:space:]]*A' -c)
    d_count=$(echo "$output" | grep -E '^[[:space:]]*D' -c)
    echo "Changes M: $m_count, A: $a_count, D: $d_count"
}
