#!/usr/bin/env bash

# Directory env variables.
export REPOS="$HOME/Repositories"
export BLOCKCHAIN="$REPOS/Blockchain/"
export CHAINS="$BLOCKCHAIN/Chains"
export COSMWASM="$REPOS/CosmWasm"

export WORK="$CHAINS/evmos"

# Personal notes
export NOTES="$HOME/Notes"
export INBOX="0-Inbox"
export RESOURCES="2-Resources"

# export TERM=screen-256color

export COLORSCHEME="dark"

export EDITOR="/usr/local/bin/nvim"

export ANTHROPIC_API_KEY="your_key"

export GOPATH="$HOME/go"
export BUN_INSTALL="$HOME/.bun"

export PATH=$PATH:/opt/homebrew/bin:\
/Users/stepit/.config/.foundry/bin:/Users/stepit/.local/bin:\
/Applications/Alacritty.app/Contents/MacOS:\
/opt/homebrew/opt/python@3.10/libexec/bin:\
/usr/local/go/bin:$HOME/go/bin:\
/$BUN_INSTALL/bin:\
/run/current-system/sw/bin/
