# Software fodlers
**/raycast/*
**/gh/*
**/cache/*
**/.foundry/*
**/dlv/*
**/nvm/*
**/tmux/plugins/*
**/zsh-syntax-highlighting/*
**/nvim-old/*
**/qBittorrent/*

# Zsh stuff
.zsh_sessions/
.zsh_history
.zhistory
.zcompdump

# Misc
./configstore/*
