start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[gaps]
inner.horizontal = 15
inner.vertical = 15
outer.left = 15
outer.bottom = 15
outer.top = 15
outer.right = 15

# Automatic app placing
[[on-window-detected]]
if.app-name-regex-substring = 'docker'
run = ['move-node-to-workspace D']

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-name-regex-substring = 'mail'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-name-regex-substring = 'calendar'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-name-regex-substring = 'notion'
run = ['move-node-to-workspace N']

[[on-window-detected]]
if.app-name-regex-substring = 'obsidian'
run = ['move-node-to-workspace N']

[[on-window-detected]]
if.app-name-regex-substring = 'linear'
run = ['move-node-to-workspace L']

[[on-window-detected]]
if.app-name-regex-substring = 'zotero'
run = ['move-node-to-workspace Z']

[[on-window-detected]]
if.app-name-regex-substring = 'bitwarden'
run = 'layout floating'

# -------------------------------------------------------------------------------------------------
# Browsers
# -------------------------------------------------------------------------------------------------
[[on-window-detected]]
if.app-name-regex-substring = 'arc'
run = ['move-node-to-workspace 1']

[[on-window-detected]]
if.app-name-regex-substring = 'brave'
run = ['move-node-to-workspace 1']

# -------------------------------------------------------------------------------------------------
# Terminals
# -------------------------------------------------------------------------------------------------

[[on-window-detected]]
if.app-id = 'org.alacritty'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-name-regex-substring = 'kitty'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-name-regex-substring = 'ghostty'
run = ['move-node-to-workspace 3']

# -------------------------------------------------------------------------------------------------
# Socials
# -------------------------------------------------------------------------------------------------

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-name-regex-substring = 'telegram'
run = ['layout floating', 'move-node-to-workspace 4']

[[on-window-detected]]
if.app-name-regex-substring = 'signal'
run = ['layout floating', 'move-node-to-workspace 4']

# -------------------------------------------------------------------------------------------------
# MAIN bindings
# -------------------------------------------------------------------------------------------------

[mode.main.binding]

# Change container layout AND direction.
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

# Move between apps in the same workspace.
alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

# Move apps in the container AND change direction.
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# Movements between workspaces.
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-d = 'workspace D'
alt-n = 'workspace N'
alt-t = 'workspace L'
alt-z = 'workspace Z'

# Move app to workspace.
alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
alt-shift-z = ['move-node-to-workspace Z', 'workspace Z']

alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-node-to-monitor --wrap-around next'

# -------------------------------------------------------------------------------------------------
# RESIZE bindings
# -------------------------------------------------------------------------------------------------

alt-r = 'mode resize'

[mode.resize.binding]
alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'
f = 'fullscreen'
b = 'balance-sizes'
alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

r = ['flatten-workspace-tree', 'mode main'] # Reset layout
q = [
  'layout floating tiling',
  'mode main',
] # Toggle between floating and tiling layout

enter = 'mode main'
esc = 'mode main'
